:root {
  --clr-neutral-00: hsl(0, 0%, 100%);
  --clr-neutral-10: hsl(212, 45%, 89%);
  --clr-neutral-40: hsl(220, 15%, 55%);
  --clr-neutral-70: hsl(218, 44%, 22%);
  --ff-sans: 'Outfit', sans-serif;
  --fz-15px: 15px;
  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

.flowise>* {
  margin-bottom: 1rem;
}

.flowise>*:last-child {
  margin-bottom: 0;
}

.flowise>*+* {
  margin-top: 1em;
}

img {
  width: 100%;
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}