:root {
  --clr-neutral-00: hsl(0, 0%, 100%);
  --clr-neutral-10: hsl(212, 45%, 89%);
  --clr-neutral-40: hsl(220, 15%, 55%);
  --clr-neutral-70: hsl(218, 44%, 22%);
  --ff-sans: 'Outfit', sans-serif;
  --fz-15px: 15px;
  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

.flowise>* {
  margin-bottom: 1rem;
}

.flowise>*:last-child {
  margin-bottom: 0;
}

.flowise>*+* {
  margin-top: 1em;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 2rem 1.5rem;
  color: var(--clr-neutral-40);
  background: var(--clr-neutral-10);
  font-family: var(--ff-sans);
  font-size: var(--fz-15px);
  font-weight: var(--fw-400);
  text-align: center;
  line-height: 1.4;
  /* presentation */
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: var(--clr-neutral-70);
  font-size: 22px;
  font-weight: var(--fw-700);
}

main {
  margin: auto;
}

.card {
  max-width: 320px;
  padding: 1rem 1rem 2.25rem;
  background: var(--clr-neutral-00);
  border-radius: 20px;
}

.card > * {
  margin-left: auto;
  margin-right: auto;
}

.card img {
  border-radius: 13px;
}

.card p {
  width: 85%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1.5rem auto 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}